<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="./style.css" />
</head>

<body>
    <div class="header">
        <img src="html5.png" />
        <h1>My WebSite</h1>

    </div>
    <div class="navbar">
        <ul class="list">
            <li>
                <a href="#Home"></a>Home</li>
            <li>
                <a href="#News"></a>News</li>
            <li>
                <a href="#Contact"></a>Contact</li>
            <li>
                <a href="#About"></a>About</li>
        </ul>
    </div>
    <div class="content">

        <div class="left">
            <ul>
                <li>Home</li>
                <li>News</li>
                <li>Contact</li>
                <li>About</li>
            </ul>
        </div>
        <div class="right">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit accusantium dicta nam! Asperiores possimus omnis placeat. Laborum dolores quaerat doloribus maiores natus nemo dignissimos nulla quis consequuntur quo dolorem impedit, reiciendis
                earum velit nostrum deserunt id repellendus totam esse delectus excepturi iusto. Accusantium, culpa quaerat! Ad illo saepe aliquid error dicta explicabo temporibus optio, quas nulla, necessitatibus, laborum similique distinctio! Eius praesentium
                harum esse illum et id magni fuga a laborum vero voluptas qui ex similique debitis, nostrum distinctio nesciunt ab! Tempore quam autem odit debitis dolorem, provident corrupti fuga ullam. Adipisci cupiditate odio qui itaque a, hic illo
                commodi tenetur ad, minus accusamus similique labore expedita omnis doloribus delectus. Fuga, nobis aut. Reprehenderit veritatis quod dolorum veniam esse minus fugiat ab corporis molestias praesentium? Tenetur natus aut delectus dolorum
                veritatis quidem quia sunt. Dolorum consectetur, perspiciatis sapiente asperiores, maxime velit mollitia facere modi non enim explicabo obcaecati beatae saepe? Sed nam illo ipsam, molestias facere doloremque eaque debitis nostrum, repellendus
                cumque suscipit obcaecati natus consequuntur. Magnam ratione voluptate reiciendis iusto quos numquam atque delectus quidem, odit perferendis. Nemo repellat quidem soluta perspiciatis magni beatae error ex ad vitae officia doloribus eius
                voluptas, fugit aut excepturi est nam, vero perferendis.</p>
        </div>

    </div>
    <div class="footer">

    </div>
</body>

</html>