.container {
    padding-bottom: 20px;
    height: max-content;
    background-color: #F5F5F5;
    min-width: 600px;
    header {
        background-color: #0F4371;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 0px 80px;
        a {
            color: white;
            text-decoration: none;
        }
    }
    form {
        height: calc(100% - 60px);
        height: 100%;
        display: grid;
        grid-template: 70px 1fr / 1fr 3fr;
        .content-head {
            grid-column-start: 1;
            grid-column-end: 3;
            padding: 5px 10px;
            label input {
                margin-bottom: 10px;
            }
            .search {
                display: grid;
                grid-template: 1fr / 1fr 1fr 1fr 1fr 1fr 1fr;
                gap: 15px;
                .input-container {
                    border: 1px solid #C4C2C5;
                    border-radius: 5px;
                    display: flex;
                    width: 100%;
                    height: 30px;
                    .input-field {
                        width: 100%;
                        outline: none;
                        border: none;
                        &::placeholder {
                            padding-left: 10px;
                            color: #C4C2C5;
                        }
                    }
                    img {
                        background-color: white;
                        border: none;
                        color: white;
                        text-align: center;
                        padding: 5px;
                        border-radius: 5px;
                    }
                }
                select {
                    margin: 0px 5px;
                    height: 31px;
                    border: none;
                    width: 100%;
                    border: 1px solid #C4C2C5;
                    color: #C4C2C5;
                    border-radius: 5px;
                }
                button {
                    width: 100%;
                    border: none;
                    background-color: #0F4371;
                    border-radius: 5px;
                    color: white;
                }
            }
        }
        .content-left {
            border: 2px solid #C4C2C5;
            background-color: white;
            border-radius: 2px;
            padding-left: 30px;
            min-width: 180px;
            margin-left: 10px;
            border-radius: 10px;
            padding-bottom: 10px;
            h3 {
                font-size: 20px;
            }
            p {
                font-size: 15px;
                margin-bottom: 8px;
                color: #0F4371;
                font-weight: bold;
            }
            .price {
                height: 45px;
                display: grid;
                grid-template: 1fr 1fr / 80px 1fr;
                .cost {
                    grid-column-start: 1;
                    grid-column-end: 3;
                    display: flex;
                    align-items: center;
                    input {
                        width: 55px;
                        height: 100%;
                        border-radius: 5px;
                        border: 1px solid #C4C2C5;
                        margin: 0px 2px;
                    }
                }
            }
        }
        .content-right {
            background-color: white;
            border: 2px solid #C4C2C5;
            border-radius: 2px;
            margin-left: 10px;
            border-radius: 10px;
            h3 {
                margin: 0%;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 80px;
            }
            .top-title {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                height: 80px;
                border-radius: 10px;
            }
            .content {
                height: 100%;
                table {
                    padding: 0px;
                    margin: 0px;
                    width: 100%;
                    height: 80%;
                    border-collapse: collapse;
                    thead {
                        background-color: #F5F5F5;
                        border-top: 2px solid #C4C2C5;
                        border-bottom: 2px solid #C4C2C5;
                        border-collapse: collapse;
                        margin: 0%;
                        padding: 0%;
                        height: 50px;
                        th {
                            color: #3D5982;
                            width: calc(100% / 6);
                        }
                    }
                    tbody {
                        tr {
                            border-bottom: 1px solid #C4C2C5;
                        }
                        th {
                            color: #3D5982;
                            width: calc(100% / 6);
                            height: calc(100% / 6);
                            p {
                                margin: 0px;
                            }
                            small {
                                color: #C4C2C5;
                                font-size: 10px;
                            }
                        }
                         :nth-child(6) {
                            a {
                                font-size: 12px;
                                text-decoration: none;
                            }
                        }
                        button {
                            background-color: #0F4371;
                            color: white;
                            height: 28px;
                            width: 60px;
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}


/* Style the input container */