.container {
    background-color: #F5F5F5;
    width: 700px;
    height: 500px;
    padding: 5px 20px;
    margin-left: 20px;
    p {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .text-valid {
        display: flex;
        input {
            width: 160px;
            height: 33px;
            padding-left: 10px;
            font-size: 10px;
            border: none;
            outline: none;
            &::placeholder {
                color: #E0E0E0;
            }
        }
        .valid {
            margin: 3px;
            display: flex;
            label {
                background-color: white;
                padding-right: 4px;
                font-size: 10px;
                display: flex;
                align-items: center;
            }
        }
        .simple {
            border: #E0E0E0 solid 1px;
        }
        .succes {
            border: #70C076 solid 1px;
            border-radius: 2px;
            height: 35px;
            input {
                outline: none;
                &::placeholder {
                    color: #70C076;
                }
            }
        }
        .error {
            border: #EA8197 solid 1px;
            border-radius: 2px;
            height: 35px;
            input {
                outline: none;
                &::placeholder {
                    color: #EA8197;
                }
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 24px;
        margin-right: 190px;
        &:nth-child(1) {
            .checkbox {
                opacity: 0;
                width: 0;
                height: 0;
                &:checked+.slider {
                    border: red solid 1px;
                    &::before {
                        background-color: red;
                    }
                }
                &:checked+.slider:before {
                    -webkit-transform: translateX(26px);
                    -ms-transform: translateX(26px);
                    transform: translateX(26px);
                }
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: #41AD49 solid 1px;
                border-radius: 6px;
                -webkit-transition: .4s;
                transition: .4s;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 18px;
                width: 26px;
                left: 4px;
                bottom: 2px;
                background-color: green;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
        &:nth-child(3) {
            .checkbox {
                opacity: 0;
                width: 0;
                height: 0;
                &:checked+.slider {
                    border: green solid 1px;
                    &::before {
                        background-color: green;
                    }
                }
                &:checked+.slider:before {
                    -webkit-transform: translateX(-26px);
                    -ms-transform: translateX(-26px);
                    transform: translateX(-26px);
                }
            }
            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                border: red solid 1px;
                border-radius: 6px;
                -webkit-transition: .4s;
                transition: .4s;
            }
            .slider:before {
                position: absolute;
                content: "";
                height: 18px;
                width: 26px;
                left: 28px;
                bottom: 2px;
                background-color: red;
                -webkit-transition: .4s;
                transition: .4s;
            }
        }
    }
}

.box {
    display: grid;
    grid-template: 1fr / 70px 120px 70px 170px;
    small {
        font-size: 20px;
    }
}

.switch {
    margin-right: 50px;
}

span {
    display: flex;
    align-items: center;
    label {
        padding: 0px 7px;
        margin-right: 10px;
    }
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #41AD49;
}

input[type='radio'] {
    width: 15px;
    height: 15px;
}

input[type='radio']:checked:after {
    background-color: #41AD49;
    content: '';
    border: 1px solid #2C7731;
}

p {
    padding-top: 10px;
    margin: 10px 1px;
}

button {
    margin: 0px 5px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 80px;
    &:nth-child(1) {
        background-color: #41AD49;
    }
    &:nth-child(2) {
        background-color: #2C7731;
    }
    &:nth-child(3) {
        background-color: #E44061;
    }
    &:nth-child(4) {
        background-color: #97293F;
    }
    &:nth-child(5) {
        background-color: #808080;
        width: 90px;
    }
    &:nth-child(6) {
        background-color: #41AD49;
        width: 34px;
        border-radius: 40px;
    }
    &:nth-child(7) {
        background-color: #E44061;
        width: 34px;
        border-radius: 40px;
    }
}

textarea {
    border: 1px solid #E0E0E0;
    &::placeholder {
        color: #E0E0E0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 10px 20px;
    }
}