.container {
  background-color: #F5F5F5;
  width: 700px;
  height: 500px;
  padding: 5px 20px;
  margin-left: 20px;
}

.container p {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .text-valid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .text-valid input {
  width: 160px;
  height: 33px;
  padding-left: 10px;
  font-size: 10px;
  border: none;
  outline: none;
}

.container .text-valid input::-webkit-input-placeholder {
  color: #E0E0E0;
}

.container .text-valid input:-ms-input-placeholder {
  color: #E0E0E0;
}

.container .text-valid input::-ms-input-placeholder {
  color: #E0E0E0;
}

.container .text-valid input::placeholder {
  color: #E0E0E0;
}

.container .text-valid .valid {
  margin: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .text-valid .valid label {
  background-color: white;
  padding-right: 4px;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .text-valid .simple {
  border: #E0E0E0 solid 1px;
}

.container .text-valid .succes {
  border: #70C076 solid 1px;
  border-radius: 2px;
  height: 35px;
}

.container .text-valid .succes input {
  outline: none;
}

.container .text-valid .succes input::-webkit-input-placeholder {
  color: #70C076;
}

.container .text-valid .succes input:-ms-input-placeholder {
  color: #70C076;
}

.container .text-valid .succes input::-ms-input-placeholder {
  color: #70C076;
}

.container .text-valid .succes input::placeholder {
  color: #70C076;
}

.container .text-valid .error {
  border: #EA8197 solid 1px;
  border-radius: 2px;
  height: 35px;
}

.container .text-valid .error input {
  outline: none;
}

.container .text-valid .error input::-webkit-input-placeholder {
  color: #EA8197;
}

.container .text-valid .error input:-ms-input-placeholder {
  color: #EA8197;
}

.container .text-valid .error input::-ms-input-placeholder {
  color: #EA8197;
}

.container .text-valid .error input::placeholder {
  color: #EA8197;
}

.container .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 24px;
  margin-right: 190px;
}

.container .switch:nth-child(1) .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.container .switch:nth-child(1) .checkbox:checked + .slider {
  border: red solid 1px;
}

.container .switch:nth-child(1) .checkbox:checked + .slider::before {
  background-color: red;
}

.container .switch:nth-child(1) .checkbox:checked + .slider:before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}

.container .switch:nth-child(1) .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: #41AD49 solid 1px;
  border-radius: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .switch:nth-child(1) .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 4px;
  bottom: 2px;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .switch:nth-child(3) .checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.container .switch:nth-child(3) .checkbox:checked + .slider {
  border: green solid 1px;
}

.container .switch:nth-child(3) .checkbox:checked + .slider::before {
  background-color: green;
}

.container .switch:nth-child(3) .checkbox:checked + .slider:before {
  -webkit-transform: translateX(-26px);
  transform: translateX(-26px);
}

.container .switch:nth-child(3) .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: red solid 1px;
  border-radius: 6px;
  -webkit-transition: .4s;
  transition: .4s;
}

.container .switch:nth-child(3) .slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 26px;
  left: 28px;
  bottom: 2px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.box {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 70px 120px 70px 170px;
      grid-template: 1fr / 70px 120px 70px 170px;
}

.box small {
  font-size: 20px;
}

.switch {
  margin-right: 50px;
}

span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

span label {
  padding: 0px 7px;
  margin-right: 10px;
}

input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: white;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid #41AD49;
}

input[type='radio'] {
  width: 15px;
  height: 15px;
}

input[type='radio']:checked:after {
  background-color: #41AD49;
  content: '';
  border: 1px solid #2C7731;
}

p {
  padding-top: 10px;
  margin: 10px 1px;
}

button {
  margin: 0px 5px;
  height: 35px;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80px;
}

button:nth-child(1) {
  background-color: #41AD49;
}

button:nth-child(2) {
  background-color: #2C7731;
}

button:nth-child(3) {
  background-color: #E44061;
}

button:nth-child(4) {
  background-color: #97293F;
}

button:nth-child(5) {
  background-color: #808080;
  width: 90px;
}

button:nth-child(6) {
  background-color: #41AD49;
  width: 34px;
  border-radius: 40px;
}

button:nth-child(7) {
  background-color: #E44061;
  width: 34px;
  border-radius: 40px;
}

textarea {
  border: 1px solid #E0E0E0;
}

textarea::-webkit-input-placeholder {
  color: #E0E0E0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}

textarea:-ms-input-placeholder {
  color: #E0E0E0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}

textarea::-ms-input-placeholder {
  color: #E0E0E0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}

textarea::placeholder {
  color: #E0E0E0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px 20px;
}
/*# sourceMappingURL=style.css.map */