body {
  background-color: #A3D8D8;
  position: relative;
  min-height: 100vh;
  margin: 0%;
  padding-bottom: 100px;
}

header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
  background-color: gainsboro;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

header .logo {
  height: 70%;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo img {
  height: 100px;
}

header .logo .menyu-btn {
  height: 30px;
  padding: 20px;
  display: none;
}

header nav {
  background-color: #DB6E6B;
  height: 30%;
  width: 100%;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0%;
  margin: 0%;
  height: 100%;
}

header ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

header ul li:hover {
  background-color: #EFD3C1;
}

main {
  background-color: #FFF5F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: calc(100vh-100px-200px);
}

main aside {
  width: 30%;
  height: 100%;
  border: black 2px solid;
  background-color: #FFF5F2;
}

main aside ul {
  padding: 20px;
  list-style: none;
  color: #A3D8D8;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main section {
  width: 70%;
  height: 100%;
  border: black 2px solid;
  background-color: #FFB7A6;
  padding: 20px;
}

main section .gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 280px 280px;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 280px 280px / 1fr 1fr 1fr;
  gap: 10px;
}

@media (max-width: 700px) {
  main section .gallery {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr/ 1fr 1fr;
  }
}

@media (max-width: 1100px) {
  main section .gallery {
    -ms-grid-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
  }
}

@media (max-width: 550px) {
  main section .gallery {
    -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr 1fr 1fr 1fr 1fr 1fr/1fr;
  }
}

main section .gallery img {
  width: 100%;
  height: 260px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  height: 100px;
  background-color: #DB6E6B;
  position: absolute;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: auto;
}

.container {
  max-width: 1800px;
  margin: auto;
}

@media (max-width: 950px) {
  header {
    height: auto;
  }
  header nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header nav ul li {
    width: 100%;
  }
  header .logo .menyu-btn {
    height: 30px;
    display: inline;
  }
  header .logo .menyu-btn:hover {
    background-color: gainsboro;
  }
  main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main aside,
  main section {
    width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */