body {
    /* background-color: blue; */
}

a {
    text-decoration: none;
    text-transform: lowercase;
}

.blue {
    color: blue;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-decoration: underline green;
    font-style: italic;
    /*podcerkivanie*/
    /* text-shadow: grey 2px 1px 1px; ten */
    /* line-height: 10px; */
    /* letter-spacing: 20px; */
    /* word-spacing: 20px; */
}

.green-text {
    color: #337482;
    font-size: 20px;
    /* background-color: rgba(240, 210, 225, 0.7); */
}


/*
    color
    backgrooun
*/