.item {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    background-color: #808080;
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 250px;
    align-items: center;
}

.item:hover {
    background-color: #5E5E5E;
}

img {
    width: 70px;
    height: 70px;
    padding: 0px 10px;
}